name: ci

on:
  push:
    branches:
      - "main"
      - "master"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v5
      - name: Install gotestsum
        run: go install gotest.tools/gotestsum@latest
      - name: Test
        run: |
          gotestsum --format github-actions
